{% extends '/base.html' %}
{% block title %}About{% endblock %}
{% block maincontent %}
    <article class='blogpost'>
        <header>
            <h2>About</h2>
        </header>
        <div>
        <p>
            As an on and off DM over many, many years of playing various versions of Dungeons &amp;
            Dragons, I've developed a philosophy that a lazy DM is a good DM. Similar to being
            a programmer, if you can find a tool that automates something there is no reason not
            to use it. Why spend tons of time creating characters, rolling dice for treasure, 
            and other various tasks that a DM has to do, when you can use tools to automate this
            process?
        </p>
        <p>
            For now, I've developed various generators that can be used by DMs and players alike.
            Soon we'll allow for user generated content: maps, pre-made characters, custom classes,
            homebrew spells and items, etc. To populate the generators I've gathered information
            from various D&amp;D books. Right now we only support version 3.5, below you'll find
            a list of all the books that information was taken from. Thanks from coming and I hope 
            stay a while, spread the word, and give some feedback on how I can make this better!
        </p>
        </div>
    </article>
{% endblock %}
