{{ h.javascript_link('/js/comment_form.js') }}
{{ h.secure_form(url(controller='comments',action='add',type=c.comment_type,id=c.comment_id),id='comment-form') }}
                {{ h.hidden('com_id',c.comment_id) }}
                {{ h.hidden('com_slug',c.comment_slug) }}
                {{ h.hidden('type', c.comment_type) }}
                {{ h.hidden('honey','') }}
                
                {% with errors = c.form_errors|default([]) %}
					<h3>Post a comment</h3>
                    <p{{ " class='error'" if errors['user'] }}>
						<label for="user">Name</label>
                        {{ c.modelcomment.text('user',required='required',class='required') }}
                        {% if errors['user'] %}
                        <span style='display: block;' class='validation-advice'>{{ errors['user'] }}</span>
                        {% endif %}
					</p>
                    <p{{ " class='error'" if errors['email'] }}>
						<label for="email">E-mail</label>
                        {{ c.modelcomment.text('email',type='email',required='required',class='required validate-email') }}
                        {% if errors['email'] %}
                        <span style='display: block;' class='validation-advice'>{{ errors['email'] }}</span>
                        {% endif %}
					</p>
					<p{{ " class='error'" if errors['website'] }}>
						<label for="website">Website</label>
                        {{ c.modelcomment.text('website',type='url',class='validate-url') }}
                        {% if errors['website'] %}
                        <span style='display: block;' class='validation-advice'>{{ errors['website'] }}</span>
                        {% endif %}
					</p>
					<p{{ " class='error'" if errors['content'] }}>
						<label for="content">Comment</label>
                        {{ c.modelcomment.textarea('content',required='required',class='required') }}
                        {% if errors['content'] %}
                        <span style='display: block;' class='validation-advice'>{{ errors['content'] }}</span>
                        {% endif %}
					</p>
					<p><input type="submit" value="Post comment" /></p>
                {% endwith %}
				{{ h.end_form() }}
