                <div class='pagelist'>
                    {{ c.CommentPage.pager('$link_first $link_previous ~3~ $link_next $link_last',anchor='comments',onclick="return commentload('$partial_url');") }}
                </div>
                {%- for com in c.CommentPage %}
				<article>
					<header>
						<a href="#">{{ com.user }}</a> on 
                        <time datetime="{{ com.pub_date.isoformat() }}">
                            {{ com.pub_date.strftime('%b %d, %Y at %I:%M:%S %p') }}
                        </time>
					</header>
					{{ h.para(com.content)|bbcode }}
				</article>
                {%- endfor %}
                <div class='pagelist'>
                    {{ c.CommentPage.pager('$link_first $link_previous ~3~ $link_next $link_last',anchor='comments',onclick="return commentload('$partial_url');") }}
                </div>
