{% extends "/base.html" %}
{% block title %}News{% endblock %}
{% block jsinc %}
        {{ super() }}
{% endblock %}

			{% block maincontent %}
            <!-- {{ c.session }} -->
				<article class="blogpost">
					<header>
						<h2>{{ c.article.title|title }}</h2>
						<p>Posted on <time datetime="{{ c.article.pub_date.isoformat() }}" pubdate>{{ c.article.pub_date.strftime('%b %d, %Y at %H:%M:%S %p') }}</time>
						by <a href="#">Zeroshade</a> - <a href="#comments">{{ c.article.comments|length }} comment{{ c.article.comments|length|plural }}</a></p>
					</header>
					<div>
						{{ h.para(c.article.content)|bbcode }}
					</div>
				</article>
			{% endblock %}

			{% block extracontent %}
			<section id="comments">
				<header>
					<h3>Comments</h3>
				</header>
                
                <div id='comment-list'>
                    {% include('/comment_list.html') %}
                </div>
                
				<div id='comment-form-section'>
					{% include "/comment-form.html" %}
				</div>

			</section>
			{% endblock %}
