        <ul>
            <li class='attr' id='str'>Strength: <span class='base_stat'></span></li>
            <li class='attr' id='dex'>Dexterity: <span class='base_stat'></span></li>
            <li class='attr' id='wis'>Wisdom: <span class='base_stat'></span></li>
            <li class='attr' id='int'>Intelligence: <span class='base_stat'></span></li>
            <li class='attr' id='con'>Constitution: <span class='base_stat'></span></li>
            <li class='attr' id='cha'>Charisma: <span class='base_stat'></span></li>
        </ul>
        <div id='inline2' style='display: none;'>
            <button onClick="getRandomNumbers(7,24);">Get Dice</button>
            <button onClick="transferStatValues();">Update Values</button>
<!--
            {% for x in range(1,7) -%}
            <span class='die_6_{{ x }}'>&nbsp;</span>
            {%- endfor %}
-->
            <div class='clear'></div>
            <div id='attrs'>
                <ul>
                    <li class='attr'>Strength:</li>
                    <li class='dieholder empty'>&nbsp;</li>
                    <li class='attr'>Dexterity:</li>
                    <li class='dieholder empty'>&nbsp;</li>
                    <li class='attr'>Wisdom:</li>
                    <li class='dieholder empty'>&nbsp;</li>
                    <li class='attr'>Intelligence:</li>
                    <li class='dieholder empty'>&nbsp;</li>
                    <li class='attr'>Constitution:</li>
                    <li class='dieholder empty'>&nbsp;</li>
                    <li class='attr'>Charisma:</li>
                    <li class='dieholder empty'>&nbsp;</li>
                </ul>
            </div>
            <div id='dicebox'>
                <ul>
                    {% for i in range(1,7) %}
                    <li class='dieholder empty'>
<!--
                        {% for x in range(1,4) -%}
                        <span class='die_6_{{ x }}'>&nbsp;</span>
                        {%- endfor %}
-->
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        <a href="#inline2" rel='diabox[600x535]' onClick='setRandomCallback(addToDiceBox);' title='show abilities'>Show it</a>
