{% extends '/base.html' %}
{% block stylesheet %}
    {{ super() }}
    {{ h.stylesheet_link('/MooEditable/Assets/MooEditable/MooEditable.css') }}
{% endblock %}
{% block jsinc %}
    {{ super() }}
    {{ h.javascript_link('/MooEditable/Source/MooEditable/MooEditable.js') }}
{% endblock %}
{%- block domready -%}
        $('news-textarea').mooEditable({ 'actions' : 'bold italic underline strikethrough | insertunorderedlist insertorderedlist | indent outdent | undo redo | createlink unlink'});
{%- endblock %}
{% block title %}Admin - Post News{% endblock %}
{% block intro %}{% endblock %}
                        {% block maincontent -%}
                            <header>
                                <h2>Create New Post</h2>
                            </header>
                            
                            {{ h.secure_form('#',id='news-post-form') }}
			    <p>
                            {{ h.HTML.textarea('moo',id='news-textarea',class='large') }}
			    </p>
                            {{ h.end_form() }}
                        {% endblock -%}
