@import url("reset.css");

/************************
 * Basic setup
 ************************/

/* Render html5 elements as block  */
header, footer, aside, nav, article, section {
	display: block;
}

body {
	margin: 0 auto;
	padding: 0 0;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}

h1, h2 {
	font-size: 28px;
	line-height: 36px;
	padding: 16px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

/************************
 * Navigation
 ************************/

nav {
	position: absolute;
	left: 0;
	width: 100%;
	height: 44px;
	background: -webkit-gradient(linear, left bottom, left top, from(#222222), to(#333333));
	background: -moz-linear-gradient(top, #333333, #222222);
}

nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	margin-right: 10px;
	width: 130px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	color: #777;
}

nav ul li a:hover {
	color: #fff;
}

nav ul li.selected a {
	color: #fff;
}

nav ul li.subscribe a {
	margin-left: 22px;
	padding-left: 33px;
	text-align: left;
	background: url("/img/rss.png") left center no-repeat;
}

/************************
 * Introduction
 ************************/

#intro {
	position: relative;
	margin-top: 66px;
	padding: 44px;
	background-size: 100%;
	background: #467612 -webkit-gradient(linear, left bottom, left top, color-stop(0.07,#467612), color-stop(0.99,#B4DD10));
	background: #467612 -moz-linear-gradient(top, #B4DD10 3%, #467612 99%);
	border-radius: 22px;

	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 	 100%;
	-khtml-background-size:  100%;

	/* border-radius not implemented yet */
	-moz-border-radius:    22px;
	-webkit-border-radius: 22px;
}

#intro h2, #intro p {
	position: relative;
	z-index: 9999;
	width: 336px;
}

#intro h2 {
	padding: 0 0 22px 0;
	font-weight: normal;
	color: #fff;
}

#intro p {
	padding: 0;
	color: #D9F499;
}

#intro img {
	position: absolute;
	top: 0;
	right: 0;
	width: 653px;
	height: 100%;

	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
}

/************************
 * Content
 ************************/

#content {
	display: table;
}

#mainContent {
	display: table-cell;
	width: 620px;
	padding-right: 22px;
}

aside {
	display: table-cell;
	width: 300px;
	background: -webkit-gradient(linear, left top, right top, from(#E3E3E3), to(#F0F0F0));
	background: -moz-linear-gradient(left, #E3E3E3, #F0F0F0);
	border-left: 1px solid #D7D7D7;
}

/************************
 * Blog posts
 ************************/

.blogpost div {
	column-count: 2;
	column-gap: 22px;

	/* Neither is supported */
	-moz-column-count:    2;
	-webkit-column-count: 2;

	-moz-column-gap:    22px;
	-webkit-column-gap: 22px;
}

.blogpost img {
	margin: 0 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}

.blogpost header p, .blogpost header p a {
	font-size: 14px;
	font-style: italic;
	color: #777;
}

.blogpost header p a:hover {
	text-decoration: none;
	color: #000;
}

.blogpost header h2 {
	padding-bottom: 8px;
}

/************************
 * Comments
 ************************/

#comments {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

#comments article {
	display: table;
	padding: 22px;
}

#comments article:nth-child(odd) {
	padding: 21px;
	background: #E3E3E3;
	border: 1px solid #D7D7D7;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

#comments article header {
	display: table-cell;
	width: 220px;
	padding-right: 22px;
}

#comments article header a {
	display: block;
	font-weight: bold;
	color: #000;
}

#comments article header a:hover {
	text-decoration: none;
}

#comments article p {
	padding: 0;
}

/************************
 * Comment form
 ************************/

form {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

form p {
	display: table;
	margin-bottom: 22px;
	padding: 0 22px;
}

form label {
	display: table-cell;
	width: 140px;
	padding-right: 20px;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
}

form input[type="text"], form input[type="email"], form input[type="url"] {
	display: table-cell;
	width: 300px;
	height: 20px;
	border: 1px solid #d7d7d7;
}

form textarea {
	width: 300px;
	height: 100px;
	border: 1px solid #D7D7D7;
}

form input[type="submit"] {
	margin-left: 162px;
}

/************************
 * Sidebar
 ************************/

aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;

	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.05)), to(rgba(240,240,240,0.05)));
	background: -moz-linear-gradient(top, rgba(0,0,0,.05), rgba(240,240,240,0.05));
	-webkit-border-radius: 11px;
	-moz-border-radius:    11px;
}

aside section ul {
	margin: 0 0 0 22px;
	list-style: none;
}

aside section ul li a{
	display: block;
	text-decoration: none;
	color: #000;
}

aside section ul li a:hover {
	text-decoration: underline;
}

/************************
 * Footer
 ************************/

 footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
 }

 footer div {
	display: table;
	margin: 0 auto;
	padding: 44px 0;
	width: 940px;
	color: #777;
 }

 footer div section {
	display: table-cell;
	width: 300px;
 }

 footer div #about, footer div #blogroll {
	padding-right: 20px;
 }

 footer h3 {
	color: #fff;
 }

 footer a {
	color: #999;
 }

 footer a:hover {
	color: #fff;
	text-decoration: none;
 }

 footer ul {
	margin: 0 0 0 40px;
	list-style: square;
	color: #565656;
 }

 footer ul li a {
	display: block;
}

/************************
 * MISC
 ************************/

.errorlist {
	color: #C00;
	padding-left: 140px;
}

.error label {
	color: #F00;
}

.error textarea, .error input[type="text"], .error input[type="email"], .error input[type="url"] {
	outline: red outset 2px;
}

.commenthead a {
	font-size: 14px;
	font-style: italic;
	color: #777;
}

.commenthead a:hover {
	text-decoration: none;
	color: #000;
}

*:focus {
	outline: none; /* Prevent the webkit blue border */
}

input:not:focus, textarea:not:focus {
	opacity: 0.5;
}


