@import url("reset.css");

/************************
 * Basic setup
 ************************/

/* Render html5 elements as block  */
header, footer, aside, nav, article, section {
	display: block;
}

body {
	margin: 0 auto;
	padding: 0 0;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}

h1, h2 {
	font-size: 28px;
	line-height: 36px;
	padding: 16px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

h3 a {
	color: #000;
	text-decoration: none;
}

h3 a:hover {
	color: #777;
	text-decoration: underline;
}

/************************
 * Navigation
 ************************/

nav {
	position: absolute;
	left: 0;
	width: 100%;
	height: 44px;
	background: -webkit-gradient(linear, left bottom, left top, from(#222222), to(#333333));
	background: -moz-linear-gradient(top, #333333, #222222);
}

nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	margin-right: 44px;
	width: 130px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	color: #777;
}

nav ul li a:hover {
	color: #fff;
}

nav ul li.selected a {
	color: #fff;
}

nav ul li.subscribe a {
	margin-left: 22px;
	padding-left: 33px;
	text-align: left;
	background: url("/img/rss.png") left center no-repeat;
}

/************************
 * Introduction
 ************************/

#intro {
	position: relative;
	margin-top: 66px;
	padding: 44px;
	background-size: 100%;
	border-radius: 22px;
	background: #000 -webkit-gradient(linear, left top, right top, color-stop(0.02,#4C0000), color-stop(0.6,#000));
	background: #000 -moz-linear-gradient(left, #4C0000 2%, #000 70%);

	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 	 100%;
	-khtml-background-size:  100%;

	/* border-radius not implemented yet */
	-moz-border-radius:    22px;
	-webkit-border-radius: 22px;
}

#intro h2, #intro p {
	position: relative;
	z-index: 9999;
	width: 400px;
}

#intro h2 {
	padding: 0 0 22px 0;
	font-weight: normal;
	color: #fff;
}

#intro p {
	padding: 0;
	color: #D9F499;
}

#intro img {
	position: absolute;
	top: 0;
	right: 0;
	width: 350px;
	height: 100%;

	border-radius:         22px;
	-moz-border-radius:    22px;
	-webkit-border-radius: 22px;
}

/************************
 * Content
 ************************/

#content-body {
	display: table;
}

#mainContent {
	display: table-cell;
	width: 620px;
	padding-right: 22px;
}

#mainContent section article:nth-child(even) {
	border-top: 2px solid #D7D7D7;
}

aside {
	display: table-cell;
	width: 300px;
	background: -webkit-gradient(linear, left top, right top, from(#E3E3E3), to(#F0F0F0));
	background: -moz-linear-gradient(left, #E3E3E3, #F0F0F0);
	border-left: 1px solid #D7D7D7;
}

/************************
 * Blog posts
 ************************/

.blogpost div {
	column-count: 2;
	column-gap: 22px;

	/* Neither is supported */
	-moz-column-count:    2;
	-webkit-column-count: 2;

	-moz-column-gap:    22px;
	-webkit-column-gap: 22px;
}

.blogpost img {
	margin: 0 0;
	-webkit-box-shadow: 3px 3px 7px #777;
	-moz-box-shadow: 3px 3px 7px #777;
	box-shadow: 3px 3px 7px #777;
}

.blogpost header p, .blogpost header p a {
	font-size: 14px;
	font-style: italic;
	color: #777;
}

.blogpost header p a:hover {
	text-decoration: none;
	color: #000;
}

.blogpost header h2 {
	padding-bottom: 8px;
}

/************************
 * Comments
 ************************/

#comments {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

#comments article {
	display: table;
	padding: 22px;
}

#comments article:nth-child(even) {
	padding: 21px;
	background: #E3E3E3;
	border: 1px solid #D7D7D7;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

#comments article header {
	display: table-cell;
	width: 220px;
	padding-right: 22px;
}

#comments article header a {
	display: block;
	font-weight: bold;
	color: #000;
}

#comments article header a:hover {
	text-decoration: none;
}

#comments article p {
	padding: 0;
    width: 330px;
    padding-bottom: 16px;
}

/************************
 * Comment form
 ************************/

form {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

form p {
	display: table;
	margin-bottom: 22px;
	padding: 0 22px;
}

form p .validation-advice {
    font-size: 10px;
    color: red;
    margin-bottom: -15px;
}

form label {
	display: table-cell;
	width: 140px;
	padding-right: 20px;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
}

form input[type="text"], form input[type="email"], form input[type="url"], form input[type="password"] {
	display: table-cell;
	width: 300px;
	height: 20px;
	border: 1px solid #d7d7d7;
}

form textarea {
	width: 300px;
	height: 100px;
	border: 1px solid #D7D7D7;
}

form textarea.large {
	width: 450px;
	height: 300px;
}

form input[type="submit"] {
	margin-left: 162px;
}

/************************
 * Sidebar
 ************************/

aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;

	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.05)), to(rgba(240,240,240,0.05)));
	background: -moz-linear-gradient(top, rgba(0,0,0,.05), rgba(240,240,240,0.05));
	-webkit-border-radius: 11px;
	-moz-border-radius:    11px;
}

aside section ul {
	margin: 0 0 0 22px;
	list-style: none;
}

aside section ul li a{
	display: block;
	text-decoration: none;
	color: #000;
}

aside section ul li a:hover {
	text-decoration: underline;
}

aside form {
    margin-top: 3px;
    padding-top: 10px;
}

aside form label {
    width: 50px;
}

aside form input[type="text"], aside form input[type="password"] {
    width: 120px;
}

aside form input[type="submit"] {
    margin-left: 20px;
}

/************************
 * Footer
 ************************/

 footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
 }

 footer div {
	display: table;
	margin: 0 auto;
	padding: 44px 0;
	width: 940px;
	color: #777;
 }

 footer div section {
	display: table-cell;
	width: 300px;
 }

 footer div #about, footer div #blogroll {
	padding-right: 20px;
 }

 footer h3 {
	color: #fff;
 }

 footer a {
	color: #999;
 }

 footer a:hover {
	color: #fff;
	text-decoration: none;
 }

 footer ul {
	margin: 0 0 0 40px;
	list-style: square;
	color: #565656;
 }

 footer ul li a {
	display: block;
}

/************************
 * MISC
 ************************/

.notify {
    margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

.errorlist {
	color: #C00;
	padding-left: 140px;
}

p.error { 
    color: #F00;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.error label {
	color: #F00;
}

.error textarea, .error input[type="text"], .error input[type="email"], .error input[type="url"] {
	outline: red outset 2px;
}

.commenthead a {
	font-size: 14px;
	font-style: italic;
	color: #777;
}

.commenthead a:hover {
	text-decoration: none;
	color: #000;
}

*:focus {
	outline: none; /* Prevent the webkit blue border */
}

input:not(:focus), textarea:not(:focus) {
	opacity: 0.5;
}

input:focus, textarea:focus {
	-webkit-box-shadow: 0 0 5px #777;
	-moz-box-shadow: 0 0 5px #777;
	box-shadow: 0 0 5px #777;
}

input:valid, textarea:valid {
/*	background: url("/img/tick.png") no-repeat 280px 4px; */
	background-color: #FFF;
}

input[type="submit"] {
	opacity: 1.0;
}

tr.header {
    border-bottom: black solid 1px;
}

div#r0 {
    padding-bottom: 10px;
}

div.spacer {
    border: black dotted 1px;
    border-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
}

div.spacer:last-of-type {
    border-bottom: black dotted 1px;
}

.manage {
    width: 600px;
}

.c1 {
    width: 210px;
    padding-left: 10px;
}

.c2 {
    text-align: center;
    width: 120px;
}

.c3 {
    width: 100px;
}

.c4, .c5 {
    text-align: center;
    width: 75px;
}

/************************
 * Pagelist
 ************************/
.pagelist {
    margin: 0px auto;
    width: 550px;
    text-align: center;
    margin-bottom: 12px;
}

.pagelist a {
    font-style: italic;
	color: #777;
}

.pagelist a:hover {
    text-decoration: none;
    color: #000;
}

.pager_link, .pager_curpage {
    padding-left: 2px;
    padding-right: 2px;
}
