/****************************************
 * 
 * Styles for tab contents and tabs themselves
 * 
 ****************************************/
#tab-contents {
    float: left;
    background-color: #ddd;
    position: relative;
    height: 500px; 
    width: 480px;
    overflow: hidden;
    -webkit-border-radius: 11px;
	-moz-border-radius:    11px;
    border-radius: 11px;
    
    -webkit-box-shadow: 0 0 5px #777;
	-moz-box-shadow: 0 0 5px #777;
	box-shadow: 0 0 5px #777;
    
    margin-bottom: 15px;
}

.tab-con {
    padding-left: 5px;
    padding-top: 5px;
    height: 160px;
    position: absolute;
}

.tab-con img { border: none; }

#tabs {
    margin-right: 11px;
    float: left;
}

#tabs li { 
    padding-bottom: 3px;
    margin-bottom: 10px;
    background-color: #edd;
    float: none;
    list-style: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#tabs li a {
    height: 20px;
    color: #333;
    padding-left: 6px;
    
    width: 75px;
    display: block;
    text-decoration: none;
}

#tabs li a.active {
    background-color: #ddd;
    color: #000;
    -webkit-box-shadow: 0 0 5px #777;
	-moz-box-shadow: 0 0 5px #777;
    box-shadow: 0 0 5px #777;
}

/****************************************
 *
 * Styles for Character creation
 *
 ****************************************/
 
 .tab-con li {
    display: block;
    width: 100px;
    text-align: right;
 }

.tab-con li .base_stat {
    display: inline-block;
    width: 10px;
}

li.dieholder {
    position: relative;
    display: block;
    height: 57px;
    width: 250px;
}

.clear {
    float: clear;
}

#attrs_box {
    float: left;
    position: relative;
}
#dicebox_box { 
    float: right;
    position: relative;
}

.dropdie {
    opacity: 0.3;
}

.die_6_1, .die_6_2, .die_6_3, .die_6_4, .die_6_5, .die_6_6 {
/*    float: left;  */
    margin: 2px;
    display: inline-block;
    width: 55px;
    height: 55px;
    background-image: url("/img/6sided_all.png");
    background-repeat: no-repeat;
    background-size: 165px 110px;
    -webkit-background-size: 165px 110px;
    -moz-background-size: 165px 110px;
}

.die_6_2 {
    background-position: -55px 0;
}

.die_6_3 {
    background-position: -110px 0;
}

.die_6_4 {
    background-position: 0 -55px;
}

.die_6_5 {
    background-position: -55px -55px;
}

.die_6_6 {
    background-position: -110px -55px;
}
